
<h1> Links </h1>

<h1>Welcome, daniel.costea@vkernel.ro </h1>

<ul id='links'>
  <% @links.each do |link| %>
    <li>
      Title: <%= link.title %>
      URL:   <%= link.url   %>
      Tag:   <%= link.url %>
    </li>
  <% end %>
</ul>
